<div class="alphabar">
  {%  set limit = row_length - 1 %}
  {% for index,link in alphabar %}
    {{ link }}
    {% if index % row_length == limit %}<br />
    {% else %}&nbsp;
    {% endif %}
  {% endfor %}
  </div>
